.ant-layout {
    padding: 0;

    > main {
        padding: 0 50px
    }

    > footer {
        margin-top: 25px;

        span {
            display: block;
            text-align: center;
        }
    }
}